body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
    text-align: center;
}

h1 {
    color: #f59e0b;
}

h2 {
    color:#7c3aed;
}

a {
    color:#2b4dab;
}

p {
    color:#fbfbfb;
}

li {
    color:#fbfbfb;
}

audio, iframe {
    margin-top: 20px;
}
